streamlit
langchain
langchain-core
langchain-groq
langchain-mongodb
langchain-community==0.0.24
pymongo==4.6.2
pypdf==4.0.1
faiss-cpu==1.8.0
sentence-transformers==2.5.1
python-dotenv==1.0.1
transformers==4.38.2
