streamlit
pandas
numpy
# --- LangChain Core Packages ---
langchain
langchain-core==0.2.3
langchain-groq
langchain-mongodb
langchain-community==0.2.1
langchain-text-splitters
groq
pymongo
pypdf==4.2.0
faiss-cpu
#sentence-transformers
python-dotenv==1.0.1
#transformers
streamlit-pdf
#torch
# RAG Components
# requirements.txt (Corrected)
torch
sentence-transformers
transformers
accelerate
