streamlit
pandas
numpy
# --- LangChain Core Packages ---
langchain
langchain-core==0.2.3
langchain-groq
langchain-mongodb
langchain-community==0.2.1
langchain-text-splitters
groq
pymongo
pypdf==4.2.0
faiss-cpu
#sentence-transformers
python-dotenv==1.0.1
#transformers
streamlit-pdf
#torch
# RAG Components
# Pinning these versions resolves the 'meta tensor' issue
torch==2.1.2
sentence-transformers==2.2.2
transformers==4.36.2
accelerate==0.26.1
